<%- include('parts/head')  %> 
<body>
    <h2 class="title" style="color: #fff;">Create a New Account</h2>
    <form method="POST" class="container">
        <label for="username">username</label> 
        <input type="text" name="username" class="username">
        <% let usernameError = validationErrors.find(err => err.param === 'username') %> 
        <% if(usernameError) { %>
            <p style="color: #fff;">Error: <%= usernameError.msg %> </p>
        <% } %> 
        <label for="email">Email</label>
        <input type="email" name="email" class="email">
        <% let emailError = validationErrors.find(err => err.param === 'email') %> 
        <% if(emailError) { %>
            <p style="color: #fff;">Error: <%= emailError.msg %> </p>
        <% } %> 
        <label for="password">Password</label>
        <input type="password" name="password" class="password">
        <% let passwordError = validationErrors.find(err => err.param === 'password') %> 
        <% if(passwordError) { %>
            <p style="color: #fff;">Error: <%= passwordError.msg %> </p>
        <% } %> 
        <label for="Confirmpassword">Confirmpassword</label>
        <input type="password" name="Confirmpassword" class="password">
        <% let ConfirmpasswordError = validationErrors.find(err => err.param === 'Confirmpassword') %> 
        <% if(ConfirmpasswordError) { %>
            <p style="color: #fff;">Error: <%= ConfirmpasswordError.msg %> </p>
        <% } %> 
        <button type="submit">Create Account</button>
    </form>
    <% //for (let error of validationErrors){ %> 
        <!-- <p class="alert alert-danger"> <%//= error.msg %> </p> -->
    <% //} %> 
<%- include('parts/footer')  %> 